html{
    width: 100vw;
    height: 100vh;
    margin: 0;
    margin-right: 2px;
}
body{
    margin: 0;
    margin-right: 5px;
    width: 100vw;
    height: 100vh;
    color: white;
    background:url('background.jpg') no-repeat center fixed;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
    font-size: 20%;
}

* {
    text-align: center;
}
button, input {
    margin: 1px;
}
.twitch{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}
.logo{
    width: 20vh;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}
.playerNumberButton{
    justify-self: center;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    font-size: 30px;
    display: flex;
    flex-direction: column;
}
.btn {
    padding: 25px;
    font-size: 25px;
    line-height: 0;
}
.playerNames{
    justify-self: center;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    font-size: 30px;
    display: flex;
    flex-direction: column;
}
div{
    overflow: scroll;
}
#bracket{
    padding: 0;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 5;
    font-size: 30px;
    overflow-x: scroll;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 90vw;
}
.nextRound{
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding:0;
}
.nextRound div{
    flex-grow:1;
}
.nextRound div:nth-of-type(odd){
    padding-left: 20px;
    border-right:2px solid darkgrey;
    min-height: 40px;
}
.nextRound button:nth-of-type(odd){
    padding-left: 20px;
    font-size: 20px;
    color: white;
    border-bottom:2px solid darkgrey;
    width: 20vw;
}
.nextRound button:nth-of-type(even){
    padding-left: 20px;
    font-size: 20px;
    color: white;
    border-top:2px solid darkgrey;
    width: 20vw;
    margin-bottom: 20px;
}
#nextRoundButton{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 5;
    font-size: 30px;
}
#playerForm{
        justify-self: center;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 6;
        font-size: 20px;
        /*display: flex;
        flex-direction: column;*/
}
#playerForms{
    display: flex;
    flex-direction: column;
}
#data{
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 8;
    grid-row-end: 8;
    font-size: 15px;
    display: none;
    flex-direction: column;
}
.player{
    color: white;
    font-size: 15px;
    background: none;
    border: none;
}
.dataAccessHouse{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 7;
}
.dataAccess{
}
